/* TWITCH TOOLS Css */


	/* Make last child column full width if it's odd */
.last-child-big > .column:last-of-type:nth-child(odd) {
	width: 100%;
}

/* body {margin: 80px 0 90px 0; } */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik+Glitch&display=swap');

@font-face {
	font-family: "twitch-bordered";
	src: url("/fonts/twitch-bordered.ttf");
 }
@font-face {
	font-family: "twitch-solid";
	src: url("/fonts/twitch-solid.ttf");
 }
@font-face {
	font-family: "twitchytv";
	src: url("/fonts/twitchy.tv.ttf");
 }

.navbar-burger { height: inherit; }
.z-1000 { z-index: 40 !important;}

y {	/* new chat channel name */
	font-weight: bold;
	color: rgb(168, 15, 28);
}

#mainoutput > div:hover {
	/* cursor: cell; */
	background-color: red;
	color: white !important;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

blockquote {
	padding-left: 20px;
}

pre {
	tab-size: 1.5rem;
}

.b {
	font-weight: bold;
}

rb {
	color: red; font-weight: bold;
}

	/* My fix for tab panes */

.tab-content {
	display: flex !important;
	/* background-color: azure; */
	flex-wrap: wrap;	/* ok - this fixed it! */
}

.tab-content .notification {
	margin-bottom: 0;	/* last child has margin otherwise */
}

.tab-pane {
	display: block  !important; /* undo "display: none;" */
	visibility: hidden;
	margin-right: -100%;
	width: 100%;
}

.tab-content > .is-active {
	visibility: visible;
}
	/* my boxed tabs look */
.tabs.is-boxed li.is-active a {
	background-color: #485fc7;
	color: white;
}

header h2 {
	font-size: 2.5em;
	font-weight: bold;
	font-family: "twitch-solid";
	text-transform: lowercase;
	text-shadow: 3px 3px #252b46;
}

header h3 {
	font-size: 1.2em;
	color:rgb(209, 209, 209);
	font-style: italic;
}

.section header {
	max-width: fit-content;
	line-height: 0.8;
	margin-bottom: 20px !important;
}

.section header h3 {
	text-align: right;
}

.section:nth-of-type(3n) {
	background-color: #485fc7;
	color: white;
}
.section:nth-of-type(3n+1) {
	background-color: #d68100;
	color: white;
}
.section:nth-of-type(3n+2) {
	background-color: #84029e;
	color: white;
}

.gradient-slide {
	/* background: linear-gradient(-22deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%); */
	background: linear-gradient(90deg, #000000,#6441a5 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #da4e4e 87%, #f80000 100%);
	background-size: 400%;
	animation: gradient 20s ease-in-out 1;
	animation-delay: 2000ms;
}

@keyframes gradient {
	0% { background-position: 0%; }
	50% { background-position: 100%; }
	100% {	background-position: 0%; }
}

.outer-logo-holder { /* this is outer */
	text-align: center;
	/* height: 50vh; */
	position: relative;
}

.inner-logo-holder { /* inner around logo */
	color: inherit; /* to shut up linter */
}

.main-logo-twitch {
	width: 100%; height: auto;
	max-width: 600px;
}

.main-logo-tools {
	text-align: center;
	width: 60%;
	max-width: 500px;
	/* position: absolute; bottom: 0px; left: 50%; transform: translate(-50%) ; */
}


.footer {
	text-align: center;
	font-family: twitch-solid;
	text-shadow: 2px 2px #252b46;
	color: white;
	font-size: 2em;
	align-items: center;
	background: var(--dairymilk-grad);
}

:root {
	--dairymilk-grad: linear-gradient(90deg, #000000 10%, #6441a5);
}

html {
	background: var(--dairymilk-grad);
}
/* body {
	/* min-height: 100vh; * /
}
 */
.cadbury {
	background-color: rgba(122,113,15, 0) !important;
	color:white;
}
/*
.cadbury .navbar-dropdown {
	color: white;
	background: var(--dairymilk-grad);
} */

.number-input-3 {
	width: 5rem;
}

.number-input-4 {
	width: 5.5rem;
}

.number-input-5 {
	width: 6.5rem;
}

.scenecmd-input {
	width: 8rem;
}

.audiocmd-input {
	width: 8rem;
}



	/* pre full alert warning */
#alertnotification {
	cursor: grab;
}

.list-user {
	color:rgb(0, 14, 207);
}
.list-channel {
	font-weight: bold;
	font-size: 0.8em;
	color: #f80000;
}
.list-message {
	font-size: 0.9em;
}


#flasher {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: chartreuse;
	border: 26px solid rgb(81, 7, 116);
	font-size: 20vw;
	line-height: 30vh;
	font-weight: 1000;
	color: white;
	text-align: center;
	text-shadow: 5px 5px 5px #000;
	z-index: 1;
}
#flasher p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.flasher {
	display: block !important;
}
.flasher {
	-webkit-animation: yellow-fade 0.7s ease-in-out 0s;
	-moz-animation: yellow-fade 0.7s ease-in-out 0s;
	-o-animation: yellow-fade 0.7s ease-in-out 0s;
	animation: yellow-fade 0.7s ease-in-out 0s 10;
 }

@-webkit-keyframes yellow-fade {
	from {
	  background: rgba(238, 39, 13, 0);
	}
	to {
	  background: rgb(255, 0, 0);
	}
  }
  @-moz-keyframes yellow-fade {
	from {
	  background: rgba(238, 39, 13, 0);
	}
	to {
	  background: rgb(221, 0, 0);
	}
  }
  @keyframes yellow-fade {
	from {
	  background: rgba(238, 39, 13, 0);
	}
	to {
	  background: rgb(226, 90, 0);
	}
  }


  /*  TTS Speech Queue */


.speechQRow {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;

	column-gap: 6px;;

	padding-bottom: 3px;
	margin-bottom: 4px;

	align-items: center; /* vertically? */

	border-bottom: 1px solid gray;
}

.speechQUser {
	font-size: 0.8em;
	font-weight: bold;
	color:rgb(0, 14, 207)
}

.speechQButtons {
	white-space: nowrap;
}
.speechQButtons > div { /* for user monitor */
	display: inline-block;
}
.speechQButtons > div:first-child { /* for user monitor */
	margin-right: 6px;
}

.speechQText {
	/* padding: 0 8px; */
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}

@media only screen and (max-width: 600px) {
	.speechQRow {
		flex-wrap: wrap;
	}

	.speechQButtons {
		align-self: flex-end;
	}

	.speechQText {
		order: 1;	/* standard is 0 so pushes right */
		padding: 0;
	}
}

#usersinchannels {
	display: table;
}
#usersinchannels > div {
	display: table-row;
}
#usersinchannels > div > div {
	display: table-cell;
	padding-right: 6px;
}

/***************** OBSERVER PAGE *****************/
/***************** OBSERVER PAGE *****************/
/***************** OBSERVER PAGE *****************/

#playertable, #playlisttable {
	width: 100%;
}

#playertable td, #playlisttable td {
	vertical-align: middle;
}

#playertable input[type="checkbox"], #playlisttable input[type="checkbox"] {
	height: 1.8em; width: 1.8em; margin: 0; padding: 0;vertical-align: middle;
}
#playertable td:first-child, #playlisttable td:first-child {
	margin: 0; padding: 0; text-align: center;
}